@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  font-family: Comfortaa;
  color: white;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4a999;
}

nav img {
  width: 125px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li a {
  display: block;
  height: 100%;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 0 10px;
  margin-right: 30px;
  font-family: Comfortaa;
}
nav li a {
  color: white;
  font-family: Comfortaa;
  text-decoration: none;
}

nav li a:after,
nav li a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
}

nav li a:after {
  width: 0%;
  height: 120%;
  border-top: 2px solid #e4a999;
  border-bottom: 2px solid #e4a999;
  transition: all 0.3s ease;
}

nav li a:before {
  width: 120%;
  height: 0%;
  border-left: 2px solid #e4a999;
  border-right: 2px solid #e4a999;
  transition: all 0.5s ease;
}

nav li a:hover::before {
  height: 120%;
}

nav li a:hover::after {
  width: 120%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-bottom: solid 0.5px #e4a999;
}

.nav_bar {
  position: sticky;
  top: 0;
}

.quote {
  margin: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  text-align: right;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h4 {
  color: #e4a999;
  margin: 0px auto 0px auto;
  display: table;
  padding: 3px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: Comfortaa;
}

hr {
  width: 50%;
  margin: 0 auto;
  background-color: #e4a999;
  border: none;
  height: 1px;
}

.book-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-info img {
    width: 250px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 3px;
}

.book-desc {
  margin: 70px;
  width: 500px;
}

.book-desc h2 {
  font-size: 50px;
  text-align: center;
}

.book-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  align-items: center;
  padding: 0;
  width: 1200px;
}

.book-list img {
  width: 200px;
  height: 300px;
  border-radius: 3px;
}

.book-list li {
  margin: 10px;
}

.signs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sign img{
  width: 100px;
  height: 100px;
  filter: invert(77%) sepia(13%) saturate(836%) hue-rotate(325deg)
    brightness(90%) contrast(99%);
}

.sign{
  margin: 60px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px #e4a999;
  font-family: Comfortaa;
}

.footer-logo {
  width: 125px;
  height: 70px;
}

footer a img {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg)
    brightness(110%) contrast(110%);
  margin-left: 15px;
}

footer a img:hover {
  filter: invert(77%) sepia(13%) saturate(836%) hue-rotate(325deg)
    brightness(90%) contrast(99%);
    transform: translateY(-5px);  
}

@media screen and (min-width: 1200px) {
  .book-desc{
    margin: 100px;
    width: 700px;
  }
  .book-info img{
    width: 270px;
    height: 370px;
  }
  .sign{
    margin: 80px;
  }
  .sign img{
    width: 130px;
    height: 130px;
  }

  nav img{
    width: 200px;
  }
  nav li a{
    font-size: 18px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 992px) {
  nav img {
    width: 160px;
  }
  nav li a {
    font-size: 15px;
    margin-right: 30px;
  }

  .book-desc{
    margin: 70px;
    width: 500px;
  }
  .book-info img{
    width: 250px;
    height: 350px;
  }
  .sign{
    margin: 60px;
  }
  .sign img{
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .book-info img{
    width: 170px;
    height: 270px;
  }
  .book-desc{
    width: 400px;
  }
  .book-desc h2{
    font-size: 40px;
  }
  .sign{
    margin: 40px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  nav img {
    width: 120px;
  }
  nav li a {
    font-size: 15px;
    margin-right: 17px;
  }
  footer{
    font-size: 15px;
  }
  footer a img{
    width: 40px;
    height: 40px;
  }
  .book-info{
    flex-direction: column;
    text-align: center;
  }
  .book-info img{
    width: 200px;
    height: 300px;
  }
  .book-desc{
    margin: 30px;
  }
  .sign{
    margin: 30px;
    text-align: center;
    font-size: 15px;
  }
  .sign img{
    width: 75px;
    height: 75px;
  }
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  footer{
    position: static;
    text-align: center;
    font-size: 14px;
  }
  footer a img{
    width: 35px;
    height: 35px;
  }
  nav img{
    width: 80px;
  }
  nav li a {
    font-size: 11px;
    margin-right: 2px;
  }
  .book-info{
    flex-direction: column;
    text-align: center;
  }
  .book-info img{
    width: 200px;
    height: 300px;
  }
  .book-desc{
    margin: 30px;
    width: 100%;
  }
  .sign{
    margin: 30px;
    text-align: center;
    font-size: 13px;
  }
  .sign img{
    width: 65px;
    height: 65px;
  }
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 15px;
  }
  h4{
    text-align: center;
  }
}