@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Comfortaa";
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4a999;
}

nav img {
  width: 125px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li a {
  display: block;
  height: 100%;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 0 10px;
  margin-right: 30px;
  font-family: Comfortaa;
}
nav li a {
  color: white;
  font-family: Comfortaa;
  text-decoration: none;
}

nav li a:after,
nav li a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
}

nav li a:after {
  width: 0%;
  height: 120%;
  border-top: 2px solid #e4a999;
  border-bottom: 2px solid #e4a999;
  transition: all 0.3s ease;
}

nav li a:before {
  width: 120%;
  height: 0%;
  border-left: 2px solid #e4a999;
  border-right: 2px solid #e4a999;
  transition: all 0.5s ease;
}

nav li a:hover::before {
  height: 120%;
}

nav li a:hover::after {
  width: 120%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-bottom: solid 0.5px #e4a999;
}

.nav_bar {
  position: sticky;
  top: 0;
}

label {
  color: white;
  display: inline-block;
  width: 100px;
  text-align: right;
  margin: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #e4a999;
  border-radius: 5px;
  width: 150px;
  height: 75px;
  font-size: 20px;
  font-family: "Comfortaa";
  margin: 15px;
}

form {
  background-color: #e4a999;
  padding: 20px;
  text-align: justify;
  width: 500px;
  align-self: center;
}

/* form input {
  width: 100%;
  clear: both;
} */
