<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="AllGenres_style.css" />
    <link rel="icon" href="images/open-book.png" />
    <title><%=title%></title>
  </head>
  <body>
    <div class="nav_bar">
      <nav>
        <a href="Home"
          ><img src="images/logo.jpg" alt="Bookly Logo" class="nav_logo"
        /></a>
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="Genres">Genres</a></li>
          <li><a href="Recommendations">Recommendations</a></li>
          <li><a href="personalbooks"><%=name%></a></li>
        </ul>
      </nav>
    </div>

    <div class="quote">
      <h1>
        “Do not pity the dead, Harry. Pity the living, and, above all, those who
        live without love.”
      </h1>
      <h3>
        -J.K. Rowling- <br />
        <i>Harry Potter and the Deathly Hallows</i>
      </h3>
    </div>

    <hr />

    <div class="main-div">
      <h4>Featured Book:</h4>
      <div class="book-info">
        <a
          href="https://www.goodreads.com/book/show/7171637-clockwork-angel"
          target="_blank"
        >
          <img src="images/clockwork.jpg" alt="Clockwork Angel"
        /></a>
        <div class="book-desc">
          <h2>Clockwork Angel</h2>
          <p>
            In a time when Shadowhunters are barely winning the fight against
            the forces of darkness, one battle will change the course of history
            forever. Welcome to the Infernal Devices trilogy, a stunning and
            dangerous prequel to the New York Times bestselling Mortal
            Instruments series.
          </p>
        </div>
      </div>
    </div>

    <hr />

    <div class="main-div">
      <h4>Signs Your Next Read Should be Fantasy:</h4>
      <div class="signs">
        <div class="sign">
          <img src="images/creativity.png" alt="Imaginative" />
          <p>You're Imaginative</p>
        </div>
        <div class="sign">
          <img src="images/crazy.png" alt="weird" />
          <p>You Enjoy Weirdness</p>
        </div>
        <div class="sign">
          <img src="images/fantasy.png" alt="fantasy" />
          <p>You Want to Escape Reality</p>
        </div>
      </div>
    </div>

    <footer>
      <img src="images/logo.jpg" alt="Bookly Logo" class="footer-logo" />
      <p>Our goal at Bookly is to help you decide on your next read.</p>
      <p>Follow us for more:</p>
      <div class="socials">
        <a
          href="https://www.facebook.com/mariajane.wehbe.9"
          target="_blank"
          rel="noreferrer noopener"
          title="Facebook"
          ><img src="images/facebook-brands.svg" alt="Facebook"
        /></a>
        <a
          href="https://www.instagram.com/mariajanewehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Instagram"
          ><img src="images/instagram-brands.svg" alt="Instagram"
        /></a>
        <a
          href="https://twitter.com/mariajane_wehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Twitter"
          ><img src="images/twitter-square-brands.svg" alt="Twitter"
        /></a>
        <a
          href="https://www.goodreads.com/user/show/37042627-maria-jane"
          target="_blank"
          rel="noreferrer noopener"
          title="Goodreads"
          ><img src="images/goodreads-brands.svg" alt="Goodreads"
        /></a>
      </div>
    </footer>
  </body>
</html>
