<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Genres_style.css" />
    <link rel="icon" href="images/open-book.png" />
    <title><%=title%></title>
  </head>
  <body>
    <div class="nav_bar">
      <nav>
        <a href="Home"
          ><img src="images/logo.jpg" alt="Bookly Logo" class="nav_logo"
        /></a>
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="Genres">Genres</a></li>
          <li><a href="Recommendations">Recommendations</a></li>
          <li><a href="personalbooks"><%=name%></a></li>
        </ul>
      </nav>
    </div>

    <div class="main">
      <div class="row1">
        <div class="romance pic">
          <a href="Romance">Romance</a>
        </div>
        <div class="fantasy pic">
          <a href="Fantasy">Fantasy</a>
        </div>
        <div class="scifi pic">
          <a href="Scifi">Sci-Fi</a>
        </div>
      </div>
      <div class="row2">
        <div class="thriller pic">
          <a href="Thriller">Thriller</a>
        </div>
        <div class="graphic pic">
          <a href="Graphic">Graphic Novel</a>
        </div>
        <div class="mystery pic">
          <a href="Mystery">Mystery</a>
        </div>
      </div>
    </div>

    <footer>
      <img src="images/logo.jpg" alt="Bookly Logo" class="footer-logo" />
      <p>Our goal at Bookly is to help you decide on your next read.</p>
      <p>Follow us for more:</p>
      <div class="socials">
        <a
          href="https://www.facebook.com/mariajane.wehbe.9"
          target="_blank"
          rel="noreferrer noopener"
          title="Facebook"
          ><img src="images/facebook-brands.svg" alt="Facebook"
        /></a>
        <a
          href="https://www.instagram.com/mariajanewehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Instagram"
          ><img src="images/instagram-brands.svg" alt="Instagram"
        /></a>
        <a
          href="https://twitter.com/mariajane_wehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Twitter"
          ><img src="images/twitter-square-brands.svg" alt="Twitter"
        /></a>
        <a
          href="https://www.goodreads.com/user/show/37042627-maria-jane"
          target="_blank"
          rel="noreferrer noopener"
          title="Goodreads"
          ><img src="images/goodreads-brands.svg" alt="Goodreads"
        /></a>
      </div>
    </footer>
  </body>
</html>
