<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="829008875374-onrkrcqghhe8tandqn5gsrkrc37ioffb.apps.googleusercontent.com">
    <link rel="stylesheet" href="Home_style.css" />
    <link rel="icon" href="images/open-book.png" />
    <title><%=title%></title>
  </head>
  <body>
    <div class="banner">
      <div class="nav_bar">
        <nav>
          <a href="Home.html"
            ><img
              src="images/logo_transparent.png"
              alt="Bookly Logo"
              class="nav_logo"
          /></a>
          <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Genres">Genres</a></li>
            <li><a href="Recommendations">Recommendations</a></li>
            <li><a href="personalbooks"><%=name%></a></li>
          </ul>
        </nav>
      </div>
      <p class="p1">Discover your next read with our help.</p>
      <p class="p2">
        New books, awesome authors, fascinating audiobooks and much, much more!
      </p>
      <img src="images/chevron-down-solid.svg" alt="arrow" class="down-arrow" />
    </div>

    <div class="main-div">
      <h4>Book of the Month</h4>
      <div class="botm">
        <img
          src="images/ItEndsWithUs.jpg"
          alt="It Ends with Us"
          class="botm-img"
        />
        <div class="desc">
          <h2>It Ends with Us</h2>
          <p>
            As questions about her new relationship overwhelm her, so do
            thoughts of Atlas Corrigan — her first love and a link to the past
            she left behind. He was her kindred spirit, her protector. When
            Atlas suddenly reappears, everything Lily has built with Ryle is
            threatened
          </p>
        </div>
      </div>
    </div>

    <hr />

    <div class="main-div">
      <h4>Benefits of Reading:</h4>
      <p class="benefits">
        Reading helps prevent age-related cognitive decline. It is shown that
        seniors who read and solve math problems daily maintain and improve
        their cognitive functioning. Keep in mind that the earlier you start
        reading, the better.
      </p>
    </div>

    <hr />

    <div class="main-div">
      <h4>Youtuber of the Month:</h4>
      <div class="about-yt">
        <div class="info-yt">
          <h2>Hailey in Bookland</h2>
          <a href="https://www.youtube.com/channel/UCGeNhLPJHs8kJ9VfM35Okqg"
            ><img src="images/hailey.jpg" alt="Hailey"
          /></a>
        </div>
        <iframe
          width="734"
          height="413"
          src="https://www.youtube.com/embed/qwLcvIBHxgM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <footer>
      <img src="images/logo.jpg" alt="Bookly Logo" class="footer-logo" />
      <p>Our goal at Bookly is to help you decide on your next read.</p>
      <p>Follow us for more:</p>
      <div class="socials">
        <a
          href="https://www.facebook.com/mariajane.wehbe.9"
          target="_blank"
          rel="noreferrer noopener"
          title="Facebook"
          ><img src="images/facebook-brands.svg" alt="Facebook"
        /></a>
        <a
          href="https://www.instagram.com/mariajanewehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Instagram"
          ><img src="images/instagram-brands.svg" alt="Instagram"
        /></a>
        <a
          href="https://twitter.com/mariajane_wehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Twitter"
          ><img src="images/twitter-square-brands.svg" alt="Twitter"
        /></a>
        <a
          href="https://www.goodreads.com/user/show/37042627-maria-jane"
          target="_blank"
          rel="noreferrer noopener"
          title="Goodreads"
          ><img src="images/goodreads-brands.svg" alt="Goodreads"
        /></a>
      </div>
    </footer>
  </body>
</html>
