<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="personalbooks_style.css" />

    <title><%=title%></title>
</head>
<body>
    <body>
        <div class="nav_bar">
          <nav>
            <a href="Home"
              ><img src="images/logo.jpg" alt="Bookly Logo" class="nav_logo"
            /></a>
            <ul>
              <li><a href="Home">Home</a></li>
              <li><a href="Genres">Genres</a></li>
              <li><a href="Recommendations">Recommendations</a></li>
              <li><a href="personalbooks"><%=name%></a></li>
            </ul>
          </nav>
        </div>
        <div class="showbooks">
          <% if (booksList) { %>
           <% booksList.forEach(book=> { %> 
          <p> <%= book.title %> </p> 
         <%})%>  
        <%}%>

      </div>
</body>
</html>