<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="personalbooks_style.css" />
    <link rel="icon" href="images/open-book.png" />
    <title><%=title%></title>
  </head>
  <body>
    <div class="nav_bar">
      <nav>
        <a href="Home"
          ><img src="images/logo.jpg" alt="Bookly Logo" class="nav_logo"
        /></a>
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="Genres">Genres</a></li>
          <li><a href="Recommendations">Recommendations</a></li>
          <li><a href="personalbooks"><%=name%></a></li>
        </ul>
      </nav>
    </div>
    <div class="buttons">
      <button onclick="addToggle()">Add a Book</button>
      <form id="addForm" method="post" action="/" style="display: none;">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title"> <br>
          <label for="author">Author:</label>
          <input type="text" name="author" id="author"> <br>
          <!-- <label for="cover">Cover:</label>
          <input type="file" name="cover" id="cover" accept="image/*" /> -->
          <label for="review">Review:</label>
          <textarea name="review" id="review" cols="30" rows="10"></textarea> <br>
          <input type="Submit" value="Submit" onclick="addToggle()">
      </form>
      <button onclick="">Remove a Book</button> <br>
      <a href="list">see list</a>

    </div>

   </div>
    <script src="../personalbooks.js"> </script>
  </body>
</html>
