<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Recommendations_style.css" />
    <link rel="icon" href="images/open-book.png" />
    <title>Recommendations</title>
  </head>
  <body>
    <div class="nav_bar">
      <nav>
        <a href="Home"
          ><img src="images/logo.jpg" alt="Bookly Logo" class="nav_logo"
        /></a>
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="Genres">Genres</a></li>
          <li><a href="Recommendations">Recommendations</a></li>
          <li><a href="personalbooks"><%=name%></a></li>
        </ul>
      </nav>
    </div>

    <div class="main-div">
      <h4>YouTube Video Recommendations</h4>
      <div class="videos">
        <iframe
          width="734"
          height="413"
          src="https://www.youtube.com/embed/wWqy4HazMrc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <ul>
          <li>
            <a
              href="https://www.youtube.com/watch?v=cS0TvBhWtZY"
              target="_blank"
              ><img src="images/vid1.jpg" alt="video 1"
            /></a>

            <a
              class="to_hide"
              href="https://www.youtube.com/watch?v=cS0TvBhWtZY"
              target="_blank"
              >Books That will Make You Love Reading</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=U7rNWmAL3mY"
              target="_blank"
              ><img src="images/vid2.jpg" alt="video 2"
            /></a>

            <a
              class="to_hide"
              href="https://www.youtube.com/watch?v=U7rNWmAL3mY"
              target="_blank"
            >
              7 Books You NEED to Read</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=Yd7hP6wjSVA&list=PLrFWcDRSCPUI55WKKarrPg2x6STnIH1P2&index=4"
              target="_blank"
              ><img src="images/vid3.jpg" alt="video 3"
            /></a>
            <a
              class="to_hide"
              href="https://www.youtube.com/watch?v=Yd7hP6wjSVA&list=PLrFWcDRSCPUI55WKKarrPg2x6STnIH1P2&index=4"
              target="_blank"
              >Favorite Stand-Alone Fantasy Novels</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=vEV4R18rnp4"
              target="_blank"
              ><img src="images/vid4.jpg" alt="video 4"
            /></a>
            <a
              class="to_hide"
              href="https://www.youtube.com/watch?v=vEV4R18rnp4"
              target="_blank"
              >If You Liked this Book, Read this One</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=OQxYIhUFJxY"
              target="_blank"
              ><img src="images/vid5.jpg" alt="video 5"
            /></a>
            <a
              class="to_hide"
              href="https://www.youtube.com/watch?v=OQxYIhUFJxY"
              target="_blank"
              >Books I Wish I Read as a Kid</a
            >
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="main-div">
      <h4>Books that will get you out of a reading slump:</h4>
      <ul class="book-list">
        <li>
          <a
            href="https://www.goodreads.com/book/show/45047384-the-house-in-the-cerulean-sea?ac=1&from_search=true&qid=bQ9x6bx9X7&rank=1"
            target="_blank"
            ><img src="images/house.jpg" alt="The House in the Cerulean Sea"
          /></a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/20734002-the-weight-of-feathers?ac=1&from_search=true&qid=LnPguD2XIu&rank=1"
            target="_blank"
          >
            <img src="images/feathers.jpg" alt="The Weight of Feathers" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/1232.The_Shadow_of_the_Wind?ac=1&from_search=true&qid=KhO10jaLjd&rank=1"
            target="_blank"
          >
            <img src="images/shadow-wind.jpg" alt="The Shadow of the Wind" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/43575115-the-starless-sea?ac=1&from_search=true&qid=jtgfKqlJBF&rank=1"
            target="_blank"
          >
            <img src="images/starless-sea.jpg" alt="The Starless Sea" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/40597810-daisy-jones-the-six?ac=1&from_search=true&qid=nsFaRVJN3s&rank=1"
            target="_blank"
          >
            <img src="images/daisy.jpg" alt="Daisy Jones and the Six" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/34810320-sadie?from_search=true&from_srp=true&qid=f5CsBhBuWH&rank=1"
            target="_blank"
          >
            <img src="images/sadie.jpg" alt="Sadie" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/32497573-everyone-s-a-aliebn-when-ur-a-aliebn-too?ac=1&from_search=true&qid=ebsjSR2DEa&rank=1"
            target="_blank"
          >
            <img src="images/alien.jpg" alt="Eveyone's an Alien" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/34506912-the-prince-and-the-dressmaker?ac=1&from_search=true&qid=T4fFt3veEy&rank=1"
            target="_blank"
          >
            <img
              src="images/dressmaker.jpg"
              alt="The Prince and the Dressmaker"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/43317482-in-the-dream-house?ac=1&from_search=true&qid=f01WMLztyJ&rank=1"
            target="_blank"
          >
            <img src="images/dream-house.jpg" alt="In the Dream House" />
          </a>
        </li>
      </ul>
    </div>

    <hr />

    <div class="main-div">
      <h4>If you read this:</h4>
      <a
        href="https://www.goodreads.com/book/show/16096824-a-court-of-thorns-and-roses?ac=1&from_search=true&qid=W1B8DyDYdN&rank=1"
        target="_blank"
      >
        <img
          src="images/acotar.jpg"
          alt="A Court of Thorns and Roses"
          class="acotar"
        />
      </a>
      <h4>Then you'll like this:</h4>
      <ul class="book-list">
        <li>
          <a
            href="https://www.goodreads.com/book/show/43204703-a-curse-so-dark-and-lonely"
            target="_blank"
          >
            <img src="images/curse.jpg" alt="A Curse so Dark and Lonely" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/26032825-the-cruel-prince"
            target="_blank"
          >
            <img src="images/cruel-prince.jpg" alt="The Cruel Prince" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/52831200-from-blood-and-ash"
            target="_blank"
          >
            <img src="images/blood-ash.jpg" alt="From Blood and Ash" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/53138095-a-court-of-silver-flames"
            target="_blank"
          >
            <img src="images/acosf.jpg" alt="A Court of Silver Flames" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/10194157-shadow-and-bone"
            target="_blank"
          >
            <img src="images/sab.jpg" alt="Shadow and Bone" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/13455782-shatter-me"
            target="_blank"
          >
            <img src="images/shatter-me.jpg" alt="Shatter Me" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/10507293-the-selection"
            target="_blank"
          >
            <img src="images/selection.jpg" alt="The Selection" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/36381037-cinder"
            target="_blank"
          >
            <img src="images/cinder.jpg" alt="Cinder" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/22328546-red-queen"
            target="_blank"
          >
            <img src="images/red-queen.jpg" alt="Red Queen" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/15713880-throne-of-glass"
            target="_blank"
          >
            <img src="images/tog.jpg" alt="Throne of Glass" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/40024139-serpent-dove"
            target="_blank"
          >
            <img src="images/serpent.jpg" alt="Serpent and Dove" />
          </a>
        </li>
        <li>
          <a
            href="https://www.goodreads.com/book/show/44778083-house-of-earth-and-blood"
            target="_blank"
          >
            <img src="images/house-earth.jpg" alt="House of Earth and Blood" />
          </a>
        </li>
      </ul>
    </div>

    <footer>
      <img src="images/logo.jpg" alt="Bookly Logo" class="footer-logo" />
      <p>Our goal at Bookly is to help you decide on your next read.</p>
      <p>Follow us for more:</p>
      <div class="socials">
        <a
          href="https://www.facebook.com/mariajane.wehbe.9"
          target="_blank"
          rel="noreferrer noopener"
          title="Facebook"
          ><img src="images/facebook-brands.svg" alt="Facebook"
        /></a>
        <a
          href="https://www.instagram.com/mariajanewehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Instagram"
          ><img src="images/instagram-brands.svg" alt="Instagram"
        /></a>
        <a
          href="https://twitter.com/mariajane_wehbe"
          target="_blank"
          rel="noreferrer noopener"
          title="Twitter"
          ><img src="images/twitter-square-brands.svg" alt="Twitter"
        /></a>
        <a
          href="https://www.goodreads.com/user/show/37042627-maria-jane"
          target="_blank"
          rel="noreferrer noopener"
          title="Goodreads"
          ><img src="images/goodreads-brands.svg" alt="Goodreads"
        /></a>
      </div>
    </footer>
  </body>
</html>
